.example-h2 {
    margin-top: 0;
    margin-bottom: -0.5rem;
    margin-left: 7px;
}
 
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 10px;
}
  
.mat-slider-horizontal {
    width: 100%;
}

  